<launch>

    <arg name="camera" default="/kitti_stereo" />

    <group ns="$(arg camera)" >
            <node   pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc"
                    output="screen"
                    required="true"
                    />
    </group>

</launch>
